//html,
//body {
//  margin: 0;
//  padding: 0;
//
//  overflow: hidden;
//}

.header {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-stitch {
  display: none;
}

canvas{
	z-index: 100;
	position: fixed;
}

.box {
   width: 5em;
   height: 5em;
   background: linear-gradient(135deg, #3cdddd, #ff1ac6);
   transform: translateX(var(--tx)) rotate(var(--r));
   transition: transform .1s linear;
   will-change: transform;
}
