/* ===================================================================

setting

=================================================================== */
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.canvas-stitch {
  display: none; }

canvas {
  z-index: -100;
  position: fixed; }

.box {
  width: 5em;
  height: 5em;
  background: linear-gradient(135deg, #3cdddd, #ff1ac6);
  transform: translateX(var(--tx)) rotate(var(--r));
  transition: transform .1s linear;
  will-change: transform; }

.section_title {
  color: #ACB6E5;
  background: -webkit-linear-gradient(bottom, #ACB6E5, #86FDE8);
  background: -o-linear-gradient(bottom, #ACB6E5, #86FDE8);
  background: linear-gradient(to top, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer__list {
  list-style: none;
  display: inline-block;
  padding-right: 10px; }
