@charset "UTF-8";
/* ===================================================================

setting

=================================================================== */
@media (max-width: 767.98px) {
  div.screen {
    width: 320px;
    height: 560px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -160px;
    background: #31558a; }

  .list {
    margin-top: 36px;
    text-align: left; }

  .item {
    height: 115px;
    margin-top: 30px 0;
    padding-left: 115px;
    clear: both; }

  .item .img, .item span {
    background: #214273;
    border-radius: 3px; }

  .item .img {
    float: left;
    width: 71px;
    height: 71px;
    margin-left: -93px; }

  .item span {
    height: 11px;
    width: 180px;
    margin-bottom: 19px;
    float: left; }

  .item span:nth-of-type(3) {
    width: 75px;
    margin-botom: 0; }

  div.burger {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 11px;
    left: 21px;
    cursor: pointer; }

  div.x,
  div.y,
  div.z {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    background: #fff;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }

  div.x, div.y, div.z {
    height: 3px;
    width: 26px; }

  div.y {
    top: 18px; }

  div.z {
    top: 37px; }

  div.collapse {
    top: 20px;
    background: #4a89dc;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out; }

  div.rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out; }

  div.rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out; }

  div.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }

  div.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; }

  div.navbar {
    height: 73px;
    background: #385e97; }

  div.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 35px;
    left: 36px;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1); }

  div.circle.expand {
    width: 1200px;
    height: 1200px;
    top: -560px;
    left: -565px;
    -webkit-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1); }

  div.menu {
    height: 568px;
    width: 320px;
    position: absolute;
    top: 0px;
    left: 0px; }

  div.menu ul li {
    list-style: none;
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    width: 320px;
    text-align: center;
    font-size: 0px;
    -webkit-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1); }

  div.menu ul li a {
    color: #4a89dc;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px; }

  div.menu li.animate {
    font-size: 21px;
    opacity: 1;
    -webkit-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1); }

  div.menu li.animate:nth-of-type(1) {
    top: 120px;
    transition-delay: 0.0s; }

  div.menu li.animate:nth-of-type(2) {
    top: 190px;
    transition-delay: 0.03s; }

  div.menu li.animate:nth-of-type(3) {
    top: 260px;
    transition-delay: 0.06s; }

  div.menu li.animate:nth-of-type(4) {
    top: 330px;
    transition-delay: 0.09s; }

  div.menu li.animate:nth-of-type(5) {
    top: 400px;
    transition-delay: 0.12s; }

  div.menu li.animate:nth-of-type(6) {
    top: 470px;
    transition-delay: 0.15s; }

  .header__title-week {
    font-size: 5px;
    transform: rotate(-90deg);
    color: red; }
  .header__title-concept {
    font-size: 50px;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
.box {
  width: 5em;
  height: 5em;
  background: linear-gradient(135deg, #3cdddd, #ff1ac6);
  transform: translateX(var(--tx)) rotate(var(--r));
  transition: transform .1s linear;
  will-change: transform; }

.container {
  text-align: center; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__box {
    width: 100%;
    height: 100%;
    border-left: 3px solid #05FBFF;
    border-right: 3px solid #7F7FD5; }
    .header__box:before, .header__box:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: -webkit-gradient(linear, left top, right bottom, from(#05FBFF), to(#7F7FD5));
      background: -moz-linear-gradient(left, #05FBFF, #7F7FD5); }

.canvas-stitch {
  display: none; }

canvas {
  z-index: -100;
  position: fixed; }

.section_title {
  margin: 0px auto;
  color: #ACB6E5;
  background: -webkit-linear-gradient(bottom, #56CCF2, #2F80ED);
  background: -o-linear-gradient(bottom, #56CCF2, #2F80ED);
  background: linear-gradient(to top, #56CCF2, #2F80ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer {
  text-align: center; }
  .footer__list {
    list-style: none;
    display: inline-block;
    padding-right: 10px; }

:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  text-align: center; }

.title {
  font-size: 2em;
  position: relative;
  margin: 0 auto 1em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase; }

.title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #fff; }

/* Clip text element */
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: ''; }

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit; }

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000; }

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -.65em 0; }

.clip-text--no-textzone:after {
  content: none; }

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg); }

.clip-text_two {
  background-image: url(http://wallpaper-gallery.net/images/black-abstract-wallpaper/black-abstract-wallpaper-4.jpg); }

.clip-text_tree {
  background-image: url(http://www.cruzine.com/wp-content/uploads/2012/04/005-free-abstract-wallpapers.jpg); }

.clip-text_four {
  background-image: url(http://hd.wallpaperswide.com/thumbs/abstract_black_design_2-t2.jpg); }

.clip-text_five {
  background-image: url(http://powellong.com/data/wallpapers/81/WDF_1255144.jpg); }

.clip-text_six {
  background-image: url(https://www.hdwallpapers.net/previews/3d-colorful-spiral-1057.jpg); }

.clip-text_seven {
  background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg); }

.clip-text_eight {
  background-image: url(http://lorempixel.com/410/200/people); }

.clip-text_nine {
  background-image: url(https://wallpaperbrowse.com/media/images/background-pictures-10.jpg); }

.clip-text_ten {
  background-image: url(http://lorempixel.com/480/200/nightlife/8); }

.clip-text_eleven {
  background-image: url(http://www.wallcoo.net/cartoon/abstract_rainbow_colours_13_1920x1200/images/Abstract_Rainbow_colour_pattern_4116.jpg);
  background-size: cover; }

.clip-text_twelve {
  background-image: url(http://hd.wallpaperswide.com/thumbs/abstract_wallpaper_for_mac-t2.jpg); }

.clip-text_thirteen {
  background-image: url(http://img.7te.org/images/570x363/abstract-painting-wallpaper-which-is-under-the-abstract-wallpapers-32968.jpg); }

.clip-text_fourteen {
  background-image: url(https://4kwallpapers.co/wp-content/uploads/2015/09/abstract-colorful-vectors-design-4k-wallpapers.png); }

.clip-text_fifteen {
  background-image: url(http://lorempixel.com/480/200/nightlife/5); }
