@charset "UTF-8";
/* ===================================================================

setting

=================================================================== */
@media (max-width: 767.98px) {
  .header__title-concept {
    font-size: 50px;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
.box {
  width: 5em;
  height: 5em;
  background: linear-gradient(135deg, #3cdddd, #ff1ac6);
  transform: translateX(var(--tx)) rotate(var(--r));
  transition: transform .1s linear;
  will-change: transform; }

.container {
  text-align: center; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__box {
    width: 100%;
    height: 100%;
    border-left: 3px solid #ff0000;
    border-right: 3px solid #0000ff; }
    .header__box:before, .header__box:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: -webkit-gradient(linear, left top, right bottom, from(#f00), to(#00f));
      background: -moz-linear-gradient(left, #f00, #00f);
      background: linear-gradient(left, #f00, #00f); }

.canvas-stitch {
  display: none; }

canvas {
  z-index: -100;
  position: fixed; }

.section_title {
  margin: 0px auto;
  color: #ACB6E5;
  background: -webkit-linear-gradient(bottom, #ACB6E5, #86FDE8);
  background: -o-linear-gradient(bottom, #ACB6E5, #86FDE8);
  background: linear-gradient(to top, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer__list {
  list-style: none;
  display: inline-block;
  padding-right: 10px; }
