@charset "UTF-8";
/* ===================================================================

setting

=================================================================== */
@media (min-width: 768px) {
  .header__title-concept {
    font-size: 100px;
    font-weight: 1000;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
@media (max-width: 767.98px) {
  .header__title-concept {
    font-size: 50px;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
.box {
  width: 5em;
  height: 5em;
  background: linear-gradient(135deg, #3cdddd, #ff1ac6);
  transform: translateX(var(--tx)) rotate(var(--r));
  transition: transform .1s linear;
  will-change: transform; }

.container {
  text-align: center; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__info {
    margin: 20px auto; }
  .header__box {
    border: 10px solid #fff;
    padding: 40px; }
  .header__title-week {
    margin: auto;
    font-size: 15px;
    transform: rotate(-90deg);
    display: inline-block; }

.concept__message-text {
  text-align: center; }

.section_title {
  margin: 0px auto;
  color: #ACB6E5;
  background: url(../img/gradation-text.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer {
  text-align: center; }
  .footer__list {
    list-style: none;
    display: inline-block;
    padding-right: 10px; }

:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  text-align: center; }

.title {
  font-size: 2em;
  position: relative;
  margin: 0 auto 1em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase; }

.title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #fff; }

/* Clip text element */
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: ''; }

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit; }

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000; }

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -.65em 0; }

.clip-text--no-textzone:after {
  content: none; }

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%; }

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg); }
