@charset "UTF-8";
/* ===================================================================

setting

=================================================================== */
@media (min-width: 768px) {
  .header__title-concept {
    font-size: 100px;
    font-weight: 1000;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
@media (max-width: 767.98px) {
  .header__title-concept {
    font-size: 50px;
    transform: rotate(-5deg);
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"; } }
.box {
  width: 5em;
  height: 5em;
  background: linear-gradient(135deg, #3cdddd, #ff1ac6);
  transform: translateX(var(--tx)) rotate(var(--r));
  transition: transform .1s linear;
  will-change: transform; }

.container {
  text-align: center; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__info {
    margin: 20px auto; }
  .header__box {
    border: 10px solid #fff;
    padding: 40px; }
  .header__title-week {
    margin: auto;
    font-size: 15px;
    transform: rotate(-90deg);
    display: inline-block; }

.concept__message {
  text-align: center; }
  .concept__message-text {
    padding: 20px; }

.section_title {
  margin: 0px auto;
  color: #ACB6E5;
  background: url(../img/gradation-text.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.footer {
  text-align: center; }
  .footer__list {
    list-style: none;
    display: inline-block;
    padding-right: 10px; }
