//for_all_section
.box {
   width: 5em;
   height: 5em;
   background: linear-gradient(135deg, #3cdddd, #ff1ac6);
   transform: translateX(var(--tx)) rotate(var(--r));
   transition: transform .1s linear;
   will-change: transform;
}

.container{
	text-align: center;

}

//button
.application_button{
  font-size: 35px;
  font-weight: bold;
  background: linear-gradient(45deg, #c1e1ff, #037ef3, #30c39e);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 5%}
      50%{background-position:100% 96%}
      100%{background-position:0% 5%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 5%}
      50%{background-position:100% 96%}
      100%{background-position:0% 5%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 5%}
      50%{background-position:100% 96%}
      100%{background-position:0% 5%}
  };
}


//header_section
.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

	&__info{
		margin: 20px auto;
	}
	&__box{
		border: 10px solid #fff;
		padding: 40px;
	}
	&__title{

		&-week{
			margin: auto;
				font-size: 15px;
				transform: rotate(-90deg);
				display: inline-block;
		}
	}
}

.concept{
	&__message{
			text-align: center;
      background: linear-gradient(230deg, #037ef3, #30c39e, #ffc845, #ef4573);
      background-size: 800% 800%;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;

      @-webkit-keyframes AnimationName {
          0%{background-position:0% 5%}
          50%{background-position:100% 96%}
          100%{background-position:0% 5%}
      }
      @-moz-keyframes AnimationName {
          0%{background-position:0% 5%}
          50%{background-position:100% 96%}
          100%{background-position:0% 5%}
      }
      @keyframes AnimationName {
          0%{background-position:0% 5%}
          50%{background-position:100% 96%}
          100%{background-position:0% 5%}
      };

  		&-text{
        color: white;
        font-size: 18px;
        font-weight: bold;
  			padding: 15vh;
        line-height: 30px;
  		}
	}
}

//section_share
.section{
	&_title{
//		font-size: 40px;
//		font-weight: 400;
		margin: 0px auto;
		color: #ACB6E5;//非対応のブラウザでの文字色を設定
		background: url(../img/gradation-text.png);
		  -webkit-background-clip: text;//テキストでくり抜く
		  -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
	}
}

//footer
.footer{
	text-align: center;

	&__list{
	list-style: none;
	display: inline-block;
	padding-right: 10px;
	}

}
